.action-btn {
  text-align: center;
}
.list-container {
  display: flex;
  margin: 5%;
  align-items: center;
  border-radius: 10px;
  background-color: rgb(98, 196, 166);
}

.spinner {
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
