<ng-template #postContent>
  <h2 [ngStyle]="{'text-align':'center'}">Posts List</h2>
  <div class="container-panel">
    <mat-accordion>
      <mat-expansion-panel (opened)="getAuthorsPost(post?.id)" *ngFor="let post of posts" hideToggle>
        <mat-expansion-panel-header>{{post?.id}}: {{post?.title}}</mat-expansion-panel-header>
        <mat-panel-title>
          This Data is fetched asynchronously
        </mat-panel-title>
        <mat-panel-description>
          <!-- {{authorPost$ |async |json}}</h3> -->
          <p>{{$any(authorPost$ |async)?.id}}: {{$any(authorPost$|async)?.title}}
        </mat-panel-description>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-template>
<ng-container *ngIf="loading;else postContent">
  <div class="spinner">
    <mat-progress-spinner mode="indeterminate" color="primary" [strokeWidth]="10"></mat-progress-spinner>
  </div>
</ng-container>
